*.iml
.idea
.gradle
.kotlin
local.properties
.DS_Store
Gemfile
build
app/build
app/release
app/.cxx
app/.attach_*
fastlane/Appfile
tools/*.txt
app/src/test/java/helium314/keyboard/latin/DictionaryFacilitatorImplTest.kt
