<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2012 The Android Open Source Project
modified
SPDX-License-Identifier: Apache-2.0 AND GPL-3.0-only
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application android:label="@string/english_ime_name"
            android:name=".latin.App"
            android:supportsRtl="true"
            android:allowBackup="true"
            android:icon="@drawable/ic_oscar_logo_new"
        android:requestLegacyExternalStorage="true"
        android:defaultToDeviceProtectedStorage="true"
            android:directBootAware="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- Services -->
        <service android:name=".latin.LatinIME"
                android:label="@string/english_ime_name"
                android:permission="android.permission.BIND_INPUT_METHOD"
                android:directBootAware="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method_dummy" />
        </service>

        <service android:name=".latin.spellcheck.AndroidSpellCheckerService"
                 android:label="@string/spell_checker_service_name"
                 android:permission="android.permission.BIND_TEXT_SERVICE"
                 android:exported="true">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService" />
            </intent-filter>
            <meta-data android:name="android.view.textservice.scs"
                    android:resource="@xml/spellchecker" />
        </service>

        <!-- Activities -->
        <activity android:name=".latin.setup.SetupActivity"
                android:theme="@style/platformActivityTheme"
                android:launchMode="singleTask"
                android:noHistory="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".latin.permissions.PermissionsActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:taskAffinity="" >
        </activity>

        <activity android:name=".latin.setup.SetupWizardActivity"
                android:theme="@style/platformActivityTheme"
                android:clearTaskOnLaunch="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".latin.settings.SettingsActivity"
                android:theme="@style/platformActivityTheme"
                android:label="@string/ime_settings"
                android:excludeFromRecents="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <!-- intent filter for opening .dict files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/octet-stream" android:scheme="content" android:host="*" android:pathPattern=".*\\.dict" />
            </intent-filter>
        </activity>

        <activity android:name=".latin.spellcheck.SpellCheckerSettingsActivity"
                  android:theme="@style/platformActivityTheme"
                  android:label="@string/android_spell_checker_settings"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.oscar.kb.latin.setup.MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="org.oscar.kb.latin.setup.KeyboardselectionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="org.oscar.kb.latin.setup.PrivacyPolicyActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="org.oscar.kb.latin.setup.TermsOfUseActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <!-- Broadcast receivers -->
        <receiver android:name=".latin.SystemBroadcastReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_INITIALIZE" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".latin.DictionaryPackInstallBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="org.oscar.kb.dictionarypack.aosp.UNKNOWN_CLIENT" />
            </intent-filter>
        </receiver>

    </application>

    <queries>
        <!-- To detect other IMEs -->
        <intent>
            <action android:name="android.view.InputMethod"/>
        </intent>
    </queries>
</manifest>
